.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 3%;
  padding-bottom: 20px;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
}

.mailing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.form-input {
  height: 50px;
  width: 450px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  padding-left: 16px;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.mailing-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 6%;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.mailing-icon {
  fill: #ffffff;
  padding-left: 10px;
}
